@IMPORT url("sample.css");
.chart-one {
	width: 30vw;
	height: 30vh;
}

.chart-two {	
	position: absolute;
	left: 20vw;
	width: 30vw;
	height: 30vh;
}

.chart-three {
	position: absolute;
	width: 30vw;
	top:5vh;
	height: 30vh;
}

.chart-four {
	position: absolute;
	left: 20vw;
	width: 30vw;
	top:5vh;
	height: 30vh;
}

.chart_absolute {
	width: 100%;
	height: 100%;
}

.chart_responsive {
	position: relative;
	width: 550px;
	height: 40vh;
}

.chart-reponsive-container {
	height: 100%;
	width: 100%;
	overflow-y: auto !important;
	overflow-x: hidden;
}

.custom-legend li span{
    display: inline-block;
    width: 35px;
    height: 35px;
    margin-right: 5px;        
        
    border:5px solid black;
}

.custom-legend ul{
	padding-top:20px;
	color:white;
	background:gray;
	font-weight:bold;
	font-size: 35px;
    list-style-type: none;
    text-align:center;
}
